{% load static %}

<!DOCTYPE html>
<html lang="{{ lang_name }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ TITLE }}</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/set_null.css' %}">
</head>
<body>
<nav class="navbar">
	<nav class="menu">
		<ul class="menu__list">
			<li>
				<a href="" class="menu__link">{{ MENU }}</a>
				{% if object_list %}
					<ul class="sub-menu__list">
						{% for first_level in object_list %}
							{% if first_level.parent is None %}
								<li>
									{% if lang_name == 'ru' %}
										<a href="{{ first_level.link_data }}" class="sub-menu__link">{{first_level.get_ru_name}}</a>
									{% elif lang_name == 'en' %}
										<a href="{{ first_level.link_data }}" class="sub-menu__link">{{first_level.get_en_name}}</a>
									{% endif %}
									<ul class="sub-sub-menu__list">
										{% for second_level in object_list %}
											{% if first_level.id == second_level.parent_id %}
												<li>
													{% if lang_name == 'ru' %}
														<a href="{{ second_level.link_data }}" class="sub-sub-menu__link">{{second_level.get_ru_name}}</a>
													{% elif lang_name == 'en' %}
														<a href="{{ second_level.link_data }}" class="sub-sub-menu__link">{{second_level.get_en_name}}</a>
													{% endif %}
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			</li>
			<li>
				<a href="" class="menu__link">{{ LENG_NAMES }} ({{ lang_name }})</a>
				<ul class="sub-menu__list">
					<li>
						{% for leng_id_fl, lang_name_fl in lengs %}
							<a href="{% url 'index' pk=leng_id_fl %}" class="sub-menu__link">{{ lang_name_fl }}</a><br>
						{% endfor %}
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</nav>
{{ hash }}
</body>
</html>